@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f8fd;
}

.sort_style {
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.35);
}

.typo_h1 {
  color: #3a4374;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.333px;
}

.typo_h2 {
  color: #3a4374;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25px;
}

.typo_h3 {
  color: #3a4374;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25px;
}

.typo_h4 {
  color: #3a4374;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.194px;
}

.typo_body1 {
  color: #3a4374;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.typo_body2 {
  color: #3a4374;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.typo_body3 {
  color: #3a4374;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
